.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 99%;
}

.Page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #282c34;
  color: white;
  width: 90%; 
  height: 100%;
  flex-shrink: 1;
  padding: 10px;
}

.connect-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 50%;
}
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 1.2rem;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}

.small-note {
  font-size: 0.8rem;
  margin-top: 10px;
  color: white;
  a {
    color: #66ccff; /* Light blue color, you can adjust this color */
    text-decoration: none; /* Remove underlines from links if needed */
  }

  /* Apply styles to visited links */
  a:visited {
    color: #9966cc; /* Darker purple color for visited links, adjust as needed */
  }

  /* Apply styles to hovered links */
  a:hover {
    color: #ffcc00; /* Yellow color on hover, adjust as needed */
  }

  /* Apply styles to active links (when clicked) */
  a:active {
    color: #ff6600; /* Orange color when link is clicked, adjust as needed */
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 100%;
}

.mockData-button {
  position: fixed;
  bottom:0px;
  left:0px;
}

.connect-button {
  margin: 20px 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size: 1.11rem;
  height: 45px;
}

.record-button {
  margin: 20px 5px;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
  height: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.electrode-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 50%;
}

.electrode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 100%;
}

.electrode-item {
  margin: 10px;
}

.electrode-item canvas {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 860px) {
  .Page {
    flex-direction: column; /* Stack items on small screens */
    text-align: center;
  }

  .buttons-container,
  .electrode-container {
    margin: 0; /* Remove side margins on small screens */
  }
}
